.home {
    padding: 200px;
}

.typeData {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #FBFBFB;
    box-shadow: 0px 2px 4px 0px;
    border-radius: 10px;
    padding: 50px;
}

.typeData h2 {
    margin: 0;
}

.typeData_Btns {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}